/* GLOBAL STYLES */

a{
    text-decoration: none;
    margin: 2px;
    color: #313B44;
}

a:hover{
    text-decoration: underline;
}

h3{
    color: #313B44;
}

p{
    color: #313B44;
    margin: 2px;
}

/* LOGIN STYLES */
.container{
    width: 340px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.img-logo{
    height: 80%;
    width: 80%;
    margin: 5px;
}

.grid-icons{
    display: grid;
}

.grid-icons figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #313B44;
}

.grid-register{
    background-color: #CA973C;
    padding: 4px;
    align-items: center;
}

.grid-register .coachInvited, .coach, .athlete{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}


/* RESPONSIVIDADE */

@media screen and (min-width: 1000px) {
    .container{
        width: 500px;
        margin-top: 15vh;
    }

    .img-logo{
        height: 45%;
        width: 45%;
        margin: 30px 0px 70px 0px;
    }

    .grid-icons{
        grid-template-columns: repeat(4,110px); 
        align-items: center;
        color: #313B44;
        margin: 10px 0px 60px 0px;
    }

    .grid-register{
        padding: 50px;
        text-align: center;
        font-size: 16px;
    }

    .grid-register .coachInvited, .coach, .athlete{
        margin: 2px;
    }

    .grid-register a{
        color: white;
        font-weight: bold;
    }
}